<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>ClassPipKids</ion-title>
    <div class="titleicon">
      <img src="assets/imgs/toolbar.png" width="40px" style="display:inline-block" height="40px" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>

    <ion-row>
      <ion-col>


        <div class="ion-canvas">
          <canvas #canvas id="micanvas" (click)="fireEvent($event)"></canvas>
        </div>

        <ion-card-content class="" style="padding-top:0; white-space: pre-wrap;">
          <ion-text [innerHtml]="textoPrueba"></ion-text>
        </ion-card-content>


      </ion-col>


      <ion-col>
        <ion-card>
          <ion-button expand="block" (click)="irAFondos()" round class = "botones" >Seleccionar fondo</ion-button>
          <br>
          <ion-button expand="block" (click)="irAPersonajes()" round class = "botones"> Seleccionar personajes</ion-button>
          <br>
          <ion-button expand="block" (click)="irAObjetos()" round class = "botones"> Seleccionar objetos</ion-button>
          <br>
          <ion-button expand="block" routerLink="/juegolibro" routerDirection="root" round class = "botones"> Volver al juego </ion-button>
          <br>
          <ion-button expand="block" (click)="saveTheFrames()" round class = "botones">Guardar la escena</ion-button>

        </ion-card>

        <ion-col>
          <ion-card>

            <div (click)="antiNextFrame()">
              <img src="../../assets/imgs/flechaizquierda.png" width="50" height="50">
            </div>

          </ion-card>

        </ion-col>

        <ion-col>
          <ion-card>
            Nº:{{frameActual.numero}}
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>

            <div *ngIf="buttonNewFrame">

              <div (click)="newFrame()">
                <img src="../../assets/imgs/mas.png" width="50" height="50">
              </div>
            </div>
            <div *ngIf="!buttonNewFrame">

              <div (click)="nextFrame()">
                <img src="../../assets/imgs/flechaderecha.png" width="50" height="50">
              </div>
            </div>

          </ion-card>

        </ion-col>

      </ion-col>
    </ion-row>



    <ion-row>
      <ion-col size="7">


        <ion-card class="cardTexto">
          <form #form="ngForm" (ngSubmit)="putText(form)" method="post">
            <ion-item>
              <textarea ngModel type="textarea" rows="5" name="name" placeholder="Añade el dialogo"></textarea>
            </ion-item>

            <ion-button type="submit" expand="full" round class = "botones">Cargar dialogo</ion-button>
          </form>
        </ion-card>

      </ion-col>
      <ion-col>

        <ion-row>
          <ion-button (click)="verListaPersonajes()" round class = "botones">Eliminar elementos del frame</ion-button>

        </ion-row>

        <ion-row>

          <div *ngIf="hiddenPersonajes">
            <ion-col>
              <div *ngFor="let elemento of listaElementosIzquierda">
                <div (click)="borrarPersonajeEscena(elemento)">
                  <img src={{elemento.url}} width="150" height="80">
                </div>
              </div>
            </ion-col>
          </div>

          <div *ngIf="hiddenPersonajes">
            <ion-col>
              <div *ngFor="let elemento of listaElementosDerecha">
                <div (click)="borrarPersonajeEscena(elemento)">
                  <img src={{elemento.url}} width="150" height="80">
                </div>
              </div>
            </ion-col>
          </div>



        </ion-row>
      </ion-col>

    </ion-row>



    <ion-row>

      <ion-card>
        <img src={{imagenRedimension}} width={{imagenWeith}} height={{imagenHeigth}}>
        <ion-button (click)="masTamano()" round class = "botones">+</ion-button>
        <ion-button (click)="menosTamano()" round class = "botones">-</ion-button>

      </ion-card>

      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
    <ion-row>
      <div *ngIf='showButtonAudioFrame'>
        <ion-col offset-4>
          <input #file id="inputVoz" type="file" accept=".mp3,audio/*" (change)="SeleccionarFicheroVoz($event)"
            style="display:none">
          <ion-button  (click)="ActivarInput()" round class = "botones">Pon voz</ion-button>
        </ion-col>
      </div>
      <div *ngIf='showButtonFondoFrame'>
        <ion-col offset-4>
          <input #file id="inputVoz" type="file" accept=".mp3,audio/*" (change)="seleccionarFicheroVozFondo($event)"
            style="display:none">
          <ion-button color="danger" (click)="ActivarInput()" round class = "botones">Pon fondo</ion-button>
        </ion-col>
      </div>

      <ion-col>
        <audio id="audio" controls src={{audioFrame}} *ngIf='tieneVoz' style="margin-bottom: 20%"></audio>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col offset-4>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="toolbar">
    <img  src="assets/imgs/salir.PNG" width="50px"  (click)="salir()">
  </ion-toolbar>
</ion-footer>