<ion-header translucent>
  <ion-toolbar>
    <ion-title>Cuentame</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid>
    
    <ion-row>
        <ion-col>
        <ion-card>

          <div class="ion-canvas">
            <canvas #canvas id="micanvas" (click)="fireEvent($event)"></canvas>
          </div>

        </ion-card>
      </ion-col>
    
  
      <ion-col>
        <ion-card>




        <ion-button expand="block" (click)="irAFondos()"> SELECCIONAR FONDO</ion-button>
        <br>
        <ion-button expand="block" (click)="irAPersonajes()"> SELECCIONAR PERSONAJES
        </ion-button>
        <br>
        <ion-button expand="block" (click)="cargarEscena()"> Cargar Escena de prueba
        </ion-button>
        <br>
        <ion-button expand="block" routerLink="/cuentofondos" routerDirection="root"> a los fondos </ion-button>
        <br>
        <ion-button expand="block" routerLink="/libro" routerDirection="root"> IR A LIBRO </ion-button>
        <br>
        <ion-button expand="block" routerLink="/" routerDirection="root"> IR A INICO </ion-button>
        <br>
        <ion-button expand="block" routerLink="/" routerDirection="root"> Hello yellow </ion-button>

        </ion-card>
      </ion-col>

    </ion-row>
  
    <ion-row>


      <ion-card>

        <form #form="ngForm" (ngSubmit)="putText(form)" method="post">
          <ion-item>
            <ion-input ngModel type="name" name="name" placeholder="Añade el dialogo"></ion-input>
          </ion-item>

          <ion-button type="submit" expand="full">Cargar dialogo</ion-button>
        </form>
      </ion-card>
 

       <ion-col>
        <ion-card>

          <div (click)="antiNextFrame()">
            <img src="../../assets/imgs/flechaizquierda.png" width="50" height="50">
          </div>

        </ion-card>

      </ion-col>

      <ion-col>
        <ion-card>
          Nº:{{frameActual.numero}}
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>

          <div *ngIf="buttonNewFrame">

            <div (click)="newFrame()">
              <img src="../../assets/imgs/mas.png" width="50" height="50">
            </div>
          </div>
          <div *ngIf="!buttonNewFrame">

            <div (click)="nextFrame()">
              <img src="../../assets/imgs/flechaderecha.png" width="50" height="50">
            </div>
          </div>

        </ion-card>

      </ion-col> 
      <ion-col>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-button (click)="verListaPersonajes()">Ver personajes en escena</ion-button>

    </ion-row>
    <ion-row>

      <div *ngIf="hiddenPersonajes">
        <ion-col>
          <div *ngFor="let elemento of listaElementosIzquierda">
            <div (click)="borrarPersonajeEscena(elemento)">
              <img src={{elemento.foto}} width="150" height="80">
            </div>
          </div>
        </ion-col>
      </div>

      <div *ngIf="hiddenPersonajes">
        <ion-col>
          <div *ngFor="let elemento of listaElementosDerecha">
            <div (click)="borrarPersonajeEscena(elemento)">
              <img src={{elemento.foto}} width="150" height="80">
            </div>
          </div>
        </ion-col>
      </div>

      <ion-col>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>

      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-4>

      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col offset-4>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>