<ion-header translucent>
  <ion-toolbar>
    <ion-title>Cuentame</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-canvas">
          <canvas #canvas id="micanvas" (click)="fireEvent($event)"></canvas>
        </div>
      </ion-col>
      <ion-col>
        <div>

          <ion-item>

            <ion-button expand="block" routerLink="/cuentofondos" routerDirection="root"> a los fondos </ion-button>


            <button ion-button (click)="oculta()">O</button>
            <div *ngIf="muestrame">
              <h2>Elije un fondo</h2>
              <ion-grid>
                <ion-row>

                  <ion-col>
                    <ion-row *ngFor="let fondo of listaFondosIzquierda">
                      <div (click)="seleccionarfondo(fondo.src)">
                        <img src={{fondo.src}} width="360" height="360">
                      </div>
                    </ion-row>
                  </ion-col>

                  <ion-col>
                    <ion-row *ngFor="let fondo of listaFondosDerecha">
                      <div (click)="seleccionarfondo(fondo.src)">
                        <img src={{fondo.src}} width="360" height="360">
                      </div>

                    </ion-row>
                  </ion-col>

                </ion-row>

              </ion-grid>

            </div>

          </ion-item>



        </div>
      </ion-col>
    </ion-row>
    <ion-row>


      <ion-col col-6>

        <form #form="ngForm" (ngSubmit)="putText(form)" method="post">
          <ion-item>
            <ion-input ngModel type="name" name="name" placeholder="Añade el dialogo"></ion-input>
          </ion-item>

          <button type="submit" expand="full">Cargar dialogo</button>
        </form>
      </ion-col>

      <ion-col offset-2>
        <div (click)="antiNextFrame()">
          <img src="../../assets/imgs/flechaizquierda.png" width="50" height="50">
        </div>
      </ion-col>
      <ion-col>
        <div (click)="nextFrame()">
          <img src="../../assets/imgs/flechaderecha.png" width="50" height="50">
        </div>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <button ion-button (click)="muestra()">Ver personajes en escena</button>
        <!-- <div *ngIf="muestrame"> -->
        <div>
          <div *ngFor="let personaje of listaPersonajeEscenaActual">
            <ion-col align-self-center text-center>
              <form #form3="ngForm" (ngSubmit)="borrarPersonajeEscena(personaje,form3)" method="post">
                <ion-item>
                  <ion-label position="floating">{{personaje.id}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Tiempo de salida</ion-label>
                  <ion-input ngModel type="name" name="tiempo" placeholder="Tiempo"></ion-input>
                </ion-item>
                <button type="submit" ion-button icon-start clear small
                  (click)="borrarPersonajeEscena(personaje,form3)">
                  <ion-icon name="text"></ion-icon>
                  <div>Quitar de la escena</div>
                </button>

              </form>

            </ion-col>
          </div>
        </div>


      </ion-col>
      <ion-col col-6>

      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>

      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-4>

      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col offset-4>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>