ion-card{
    width: 60%;
    background-color: rgba(255, 255, 255, 0.733);
    text-align: center;
    padding: 10px;
    margin-left: 0px;
}

ion-item{
    --background: rgba(253, 253, 253, 0.575);
    font-weight: bold;
}

ion-content{

    
   background-image: url("/assets/imgs/curntame.png");
    background-size: cover;
    --background: rgba(255, 255, 255, 0.5);

}