ion-card{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.733);
    text-align: center;
    padding: 10px;
    margin-left: 0px;
}

ion-item{
    --background: rgba(253, 253, 253, 0.575);
    font-weight: bold;
}



ion-button {
    --background: rgb(192, 219, 117);
    --background-hover: #ffb6c1;
    --background-activated: green;
    --color: #222;
    --color-activated: white;
    --opacity: 1;
    --font-size: 24px;    
    --padding-start: 10px;
    --padding-end: 10px;
    
  }


ion-text {
    position: relative;
    text-align: center;

    h1{
        font-size: 42px;
    }

    p {
        font-size: 28px;
        color: #696969;
    }
}


ion-content{
    --background: #fafafa;   
}


.toolbar{
    --background: linear-gradient(90deg, #84c5eb 0%, #723fa1 100%);

}

.titleicon {
    position: absolute;
    width: 100%;
    left: 97%;
    bottom: 0;
    // text-align:center;
}