<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>OBJETOS</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-card>
      <h3>Elije un objeto</h3>





      <ion-row>

        <ion-col>

          <ion-grid>
            <ion-row>
              <ion-col size="3" *ngFor="let foto of listaFotosObjetos">
                <ion-card (click)="seleccionarobjeto(foto)">

                  <ion-col> <img src={{foto.url}} width="165" height="150" class="center"></ion-col>
                  <ion-col>
                    <h3> {{foto.nombre}} </h3>


                  </ion-col>

                </ion-card>




              </ion-col>
            </ion-row>

            <div *ngIf="muestraEspeciales">
              <ion-row>
                <h3>Especiales</h3>

                <ion-col size="3" *ngFor="let foto of listaFotosObjetosEspeciales">
                  <ion-card (click)="seleccionarobjeto(foto)">

                    <ion-col> <img src={{foto.url}} width="165" height="150" class="center"></ion-col>
                    <ion-col>
                      <h3> {{foto.nombre}} </h3>

                    </ion-col>
                  </ion-card>
                </ion-col>
              </ion-row>

            </div>
          </ion-grid>



        </ion-col>
      </ion-row>








    </ion-card>
  </ion-item>

</ion-content>