<ion-header>
  <ion-toolbar>
    <ion-title>Libro : Nombre del libro </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  #content >


  <ion-grid>
    <ion-row>

      <ion-col>
        <ion-card>
          <ion-card>


            <ion-row>
              <h1></h1>
            </ion-row>
            <ion-row>
              <h1></h1>
            </ion-row>



            <h3>{{titulo}}</h3>
            <h3>Autor: {{autor}}</h3>

            <ion-row>
              <h1></h1>
            </ion-row>
            <ion-row>
              <ion-button expand="block" (click)="cambiarFinalizadoATrue()" >Finalizar cuento</ion-button>
            </ion-row>


          </ion-card>

        </ion-card>
      </ion-col>

      <ion-col> <img src='/assets/imgs/nuevolibro.jpg' width="400" height="300" class="center"></ion-col>


    </ion-row>

    <ion-row>

      <ion-col>
        <h3>Escenas</h3>

        <ion-grid>
          <ion-row>
            <ion-col size="3" *ngFor="let escena of listaEscenas">
              <div (click)=clickEscena(escena)>
                <img width="200" height="200" [src]="escena.fondo" />
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-col>
    </ion-row>



    <ion-row>
        <ion-col *ngIf="creacion">
        
          <ion-item>
            <ion-label>Segundos por frame</ion-label>
            <ion-select id="sFramesId">
              <ion-select-option value="2">2 segundos</ion-select-option>
              <ion-select-option value="5">5 segundos</ion-select-option>
              <ion-select-option value="10">10 segundos</ion-select-option>
             
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col *ngIf="creacion">

          <ion-item>
            <ion-label>Número de frames</ion-label>
            <ion-select id="nFramesId">
              <ion-select-option value="2">2 frames</ion-select-option>
              <ion-select-option value="5">5 frames</ion-select-option>
              <ion-select-option value="10">10 frames</ion-select-option>
            
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col *ngIf="creacion">

          <ion-button expand="block" (click)="crearEscena()" >Crear Escena!</ion-button>
        </ion-col>



    </ion-row>

  </ion-grid>

</ion-content>

