.img-wrapper {
    min-height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

ion-card{
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    width: 100% !important; 
  }


  /* Popover Interface: set color for the popover using Item's CSS variables */
.my-custom-interface .select-interface-option {
    --color: #971e49;
    --color-hover: #79193b;
  }
  
  /* Action Sheet Interface: set color for the action sheet using its button CSS variables */
  .my-custom-interface .select-interface-option {
    --button-color: #971e49;
    --button-color-hover: #79193b;
  }
  
  /* Alert Interface: set color for alert options (single selection) */
  .my-custom-interface .select-interface-option .alert-radio-label {
    color: #971e49;
  }
  
  /* Alert Interface: set color for alert options (multiple selection) */
  .my-custom-interface .select-interface-option .alert-checkbox-label {
    color: #971e49;
  }
  
  /* Alert Interface: set color for checked alert options (single selection) */
  .my-custom-interface .select-interface-option[aria-checked=true] .alert-radio-label {
    color: #79193b;
  }
  
  /* Alert Interface: set color for checked alert options (multiple selection) */
  .my-custom-interface .select-interface-option[aria-checked=true] .alert-checkbox-label {
    color: #79193b;
  }

  .toolbar{
    --background: linear-gradient(90deg, #84c5eb 0%, #723fa1 100%);

}

.titleicon {
    position: absolute;
    width: 100%;
    left: 97%;
    bottom: 0;
    // text-align:center;
}

ion-text {
  position: relative;
  text-align: center;

  h1{
      font-size: 42px;
  }

  p {
      font-size: 28px;
      color: #696969;
  }
}


ion-content{
  --background: #fafafa;   
}

.crear {

  --background: linear-gradient(90deg, #84c5eb 0%, #723fa1 100%);
}