<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>ClassPipKids</ion-title>
    <div class="titleicon">
      <img src="assets/imgs/toolbar.png" width="40px" style="display:inline-block" height="40px" />
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">

  <ion-text>
    <h1>¡Bienvenido al libro {{titulo}}!</h1>
    <p>Selecciona o crea las escenas que quieras</p>
  </ion-text>

  <ion-grid>
    <ion-row>

      <ion-col>
       
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col>

      <ion-text>
        <p>Escenas:</p>
      </ion-text>

        <ion-grid>
          <ion-row>
            <ion-col size="3" *ngFor="let escena of listaEscenas">
              <div (click)=clickEscena(escena)>
                <img width="200" height="200" [src]="escena.fondo" />
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-col>
    </ion-row>



    <ion-row>
        <ion-col *ngIf="creacion">
        
          <ion-item>
            <ion-label>Segundos por frame</ion-label>
            <ion-select interface="popover" class="custom-options">
              <ion-select-option value="5">5 segundos</ion-select-option>
              <ion-select-option value="10">10 segundos</ion-select-option>
             
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col *ngIf="creacion">

          <ion-item>
            <ion-label>Tipo de audio</ion-label>
            <ion-select interface="popover" class="custom-options">
              <ion-select-option value="frame">Audio por cada frame</ion-select-option>   
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col *ngIf="creacion">

          <ion-button expand="block" (click)="crearEscena()" round class="crear">Crear Escena!</ion-button>
          

        </ion-col>



    </ion-row>

    <br>
    <br>
    <br>

    <ion-row>
      <ion-button expand="block" (click)="cambiarFinalizadoATrue()" round class="crear">Finalizar cuento</ion-button>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar  class = "toolbar">
   
  </ion-toolbar>
</ion-footer>