ion-slides {
    height: 90%;
  }

  ion-card{
   
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 90% !important;
    margin-left: 20px;
    margin-right: 20px;
  
  
    
  
   
  }

  ion-item{
    --background: rgba(253, 253, 253, 0.575);
    font-weight: bold;
}
