<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>ClassPipKids</ion-title>
    <div class="titleicon">
      <img src="assets/imgs/toolbar.png" width="40px" style="display:inline-block" height="40px" />
    </div>
  </ion-toolbar>
</ion-header>




<ion-content>
  <ion-card>


    <ion-slides #slides [options]="slideOpts">
      <ion-slide *ngFor="let fondo of listacompleja">

        <img src={{fondo.frame}} width="800" height="800">

      </ion-slide>


    </ion-slides>

   <br>
    <ion-card-content class="a" style="padding-top:0; white-space: pre-wrap;">
      <ion-text [innerHtml]="textoparaver"></ion-text>
    </ion-card-content>



    <ion-grid>
      <br>
      <ion-row>

        <ion-col size = "2.75" >
          <ion-card (click)="slidePrev()">
            <div>
              <img src="assets/imgs/izquierda.PNG" height='90' width='90'>
              <h3 text-center></h3>

            </div>
          </ion-card>
        </ion-col>
        <ion-col size = "2.75" >
          <ion-card (click)="startAutoplay()">
            <div>
              <img src="assets/imgs/play1.png" height='90' width='90'>
              <br>
              <h3> </h3>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size = "2.75">
          <ion-card (click)="stopAutoplay()">
            <div>
              <img src="assets/imgs/pause1.png" height='90' width='90'>
              <br>
              <h3> </h3>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size = "2.75">
          <ion-card (click)="slideNext()">
            <div>
              <img src="assets/imgs/derecha.PNG" height='90' width='90'>
              <br>
              <h3> </h3>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
      <br>
      <br>
      <br>
      <br>
      <br>

    </ion-grid>








    <!-- 
    <ion-button expand="block" (click)="slidePrev()">soy flecha hacia la izquierda!</ion-button>
    <ion-button expand="block" (click)="startAutoplay()">imagen de un triangulito de play</ion-button>
    <ion-button expand="block" (click)="stopAutoplay()">imagen de un cuadradito de antiplay(pause)</ion-button>
    <ion-button expand="block" (click)="slideNext()">soy flecha hacia la derecha!</ion-button> -->

    <audio autoplay src={{audioFrame}} controls></audio>

  </ion-card>


  <ion-grid>
    <ion-row>
      <ion-col size="2" *ngFor="let escena of listaEscenas">
        <ion-card (click)="entrarenaescena(escena.id)">
          <h3> Escena: {{escena.id}} </h3>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>















</ion-content>




















<ion-button expand="block" (click)="vervotar()"  class="votar" >Votar</ion-button>
<div *ngIf="mostrar">
  <div *ngIf="modo==2">

    <ion-card>
      <h3>
        PUNTUA
      </h3>

      <div *ngIf="rate==0">


        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(1)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(2)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(3)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(4)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(5)"></ion-icon>
      </div>
      <div *ngIf="rate==1">
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(1)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(2)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(3)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(4)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(5)"></ion-icon>
      </div>
      <div *ngIf="rate==2">
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(1)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(2)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(3)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(4)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(5)"></ion-icon>
      </div>

      <div *ngIf="rate==3">
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(1)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(2)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(3)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(4)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(5)"></ion-icon>
      </div>
      <div *ngIf="rate==4">
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(1)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(2)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(3)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(4)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(5)"></ion-icon>
      </div>
      <div *ngIf="rate==5">
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(1)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(2)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(3)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(4)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(5)"></ion-icon>
      </div>
    </ion-card>
  </div>
</div>

<div *ngIf="mostrar">
  <div *ngIf="modo==3">


    <ion-card>
      <h4>
        Criterio 1
      </h4>
      <p> {{c1}} </p>


      <div *ngIf="rate1==0">


        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(1)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(2)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(3)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(4)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(5)"></ion-icon>
      </div>
      <div *ngIf="rate1==1">
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec1(1)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(2)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(3)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(4)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(5)"></ion-icon>
      </div>
      <div *ngIf="rate1==2">
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec1(1)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec1(2)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(3)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(4)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(5)"></ion-icon>
      </div>

      <div *ngIf="rate1==3">
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec1(1)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec1(2)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec1(3)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(4)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(5)"></ion-icon>
      </div>
      <div *ngIf="rate1==4">
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec1(1)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec1(2)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec1(3)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec1(4)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(5)"></ion-icon>
      </div>
      <div *ngIf="rate1==5">
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec1(1)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec1(2)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec1(3)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec1(4)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec1(5)"></ion-icon>
      </div>



      <h4>
        Criterio 2
      </h4>

      <p> {{c2}} </p>

      <div *ngIf="rate2==0">


        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(1)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(2)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(3)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(4)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(5)"></ion-icon>
      </div>
      <div *ngIf="rate2==1">
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec2(1)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(2)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(3)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(4)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(5)"></ion-icon>
      </div>
      <div *ngIf="rate2==2">
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec2(1)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec2(2)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(3)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(4)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(5)"></ion-icon>
      </div>

      <div *ngIf="rate2==3">
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec2(1)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec2(2)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec2(3)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(4)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(5)"></ion-icon>
      </div>
      <div *ngIf="rate2==4">
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec2(1)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec2(2)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec2(3)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec2(4)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(5)"></ion-icon>
      </div>
      <div *ngIf="rate2==5">
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec2(1)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec2(2)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec2(3)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec2(4)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec2(5)"></ion-icon>
      </div>



      <h4>
        Criterio 3
      </h4>

      <p> {{c3}} </p>

      <div *ngIf="rate3==0">


        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(1)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(2)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(3)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(4)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(5)"></ion-icon>
      </div>
      <div *ngIf="rate3==1">
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec3(1)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(2)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(3)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(4)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(5)"></ion-icon>
      </div>
      <div *ngIf="rate3==2">
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec3(1)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec3(2)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(3)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(4)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(5)"></ion-icon>
      </div>

      <div *ngIf="rate3==3">
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec3(1)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec3(2)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec3(3)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(4)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(5)"></ion-icon>
      </div>
      <div *ngIf="rate3==4">
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec3(1)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec3(2)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec3(3)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec3(4)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(5)"></ion-icon>
      </div>
      <div *ngIf="rate3==5">
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec3(1)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec3(2)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec3(3)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec3(4)"></ion-icon>
        <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRatec3(5)"></ion-icon>
      </div>


      <ion-button expand="block" (click)="guardar()"  class="votar">Enviar votación</ion-button>




    </ion-card>
  </div>


</div>

<ion-footer>
  <ion-toolbar  class = "toolbar">
   
  </ion-toolbar>
</ion-footer>