<ion-header>
  <ion-toolbar>
    <ion-title>reproductor</ion-title>
  </ion-toolbar>
</ion-header>

<h3>Libro {{titulo}}</h3>





<ion-content>
  <ion-card>
 

 <ion-slides  #slides [options]="slideOpts">
  <ion-slide *ngFor="let fondo of listacompleja">

    <img src={{fondo.frame}} width="600" height="600">

  </ion-slide>


    </ion-slides>










  
  


    <ion-button expand="block" (click)="slidePrev()">soy flecha hacia la izquierda!</ion-button>
    <ion-button expand="block" (click)="startAutoplay()">imagen de un triangulito de play</ion-button>
    <ion-button expand="block" (click)="stopAutoplay()">imagen de un cuadradito de antiplay(pause)</ion-button>
    <ion-button expand="block" (click)="slideNext()">soy flecha hacia la derecha!</ion-button>
     
    <audio autoplay src =  {{audioFrame}} controls></audio>
    <!-- <audio autoplay src=  "http://localhost:3000/api/imagenes/fffffffffff/download/ayy lmao.mp3" controls></audio> -->
  </ion-card>

</ion-content>






















<div *ngIf="modo==2">

  <ion-card>
    <h3>
      PUNTUA
    </h3>

    <div *ngIf="rate==0">


      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(1)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(2)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(3)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(4)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(5)"></ion-icon>
    </div>
    <div *ngIf="rate==1">
      <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(1)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(2)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(3)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(4)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(5)"></ion-icon>
    </div>
    <div *ngIf="rate==2">
      <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(1)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(2)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(3)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(4)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(5)"></ion-icon>
    </div>

    <div *ngIf="rate==3">
      <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(1)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(2)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(3)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(4)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(5)"></ion-icon>
    </div>
    <div *ngIf="rate==4">
      <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(1)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(2)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(3)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(4)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRate(5)"></ion-icon>
    </div>
    <div *ngIf="rate==5">
      <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(1)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(2)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(3)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(4)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star" (click)="onRate(5)"></ion-icon>
    </div>
  </ion-card>
</div>

<div *ngIf="modo==3">


  <ion-card>
    <h3>
      criterio1
    </h3>
    <p> {{c1}} </p>


    <div *ngIf="rate1==0">


      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(1)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(2)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(3)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(4)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(5)"></ion-icon>
    </div>
    <div *ngIf="rate1==1">
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(1)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(2)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(3)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(4)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(5)"></ion-icon>
    </div>
    <div *ngIf="rate1==2">
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(1)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(2)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(3)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(4)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(5)"></ion-icon>
    </div>

    <div *ngIf="rate1==3">
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(1)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(2)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(3)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(4)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(5)"></ion-icon>
    </div>
    <div *ngIf="rate1==4">
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(1)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(2)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(3)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(4)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(5)"></ion-icon>
    </div>
    <div *ngIf="rate1==5">
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(1)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(2)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(3)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(4)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec1(5)"></ion-icon>
    </div>



    <h3>
      CRITERIO 2
    </h3>


    <div *ngIf="rate2==0">


      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(1)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(2)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(3)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(4)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(5)"></ion-icon>
    </div>
    <div *ngIf="rate2==1">
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(1)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(2)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(3)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(4)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(5)"></ion-icon>
    </div>
    <div *ngIf="rate2==2">
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(1)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(2)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(3)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(4)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(5)"></ion-icon>
    </div>

    <div *ngIf="rate2==3">
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(1)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(2)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(3)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(4)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(5)"></ion-icon>
    </div>
    <div *ngIf="rate2==4">
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(1)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(2)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(3)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(4)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(5)"></ion-icon>
    </div>
    <div *ngIf="rate2==5">
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(1)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(2)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(3)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(4)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec2(5)"></ion-icon>
    </div>



    <h3>
      CRITERIO 3
    </h3>


    <div *ngIf="rate3==0">


      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(1)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(2)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(3)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(4)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(5)"></ion-icon>
    </div>
    <div *ngIf="rate3==1">
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(1)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(2)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(3)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(4)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(5)"></ion-icon>
    </div>
    <div *ngIf="rate3==2">
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(1)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(2)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(3)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(4)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(5)"></ion-icon>
    </div>

    <div *ngIf="rate3==3">
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(1)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(2)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(3)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(4)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(5)"></ion-icon>
    </div>
    <div *ngIf="rate3==4">
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(1)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(2)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(3)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(4)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(5)"></ion-icon>
    </div>
    <div *ngIf="rate3==5">
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(1)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(2)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(3)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(4)"></ion-icon>
      <ion-icon color="primary" style="zoom:2.5;" name="star-outline" (click)="onRatec3(5)"></ion-icon>
    </div>


    <ion-button expand="block" (click)="guardar()">Enviar votación</ion-button>
  </ion-card>
</div>