<ion-header>
  <ion-toolbar>
    <ion-title>todoslibros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>


    <ion-row>

      <ion-col>
        <h3>Libros</h3>

        <ion-grid>
          <ion-row>
            <ion-col size="3" *ngFor="let libro of listalibros">
              <ion-col> <img src= '/assets/imgs/blanpix.png' width="165" height="150" class="center"></ion-col>
              <ion-col>
                <h3> {{libro.titulo}} </h3>
                <h3> {{libro.puntuacion}} </h3>
              </ion-col>

            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-col>
    </ion-row>

  <!-- <ion-col size="6" *ngFor="let libro of listalibros">
    <div (click)="verlibro(libro)">
      <ion-col> <img src= '/assets/imgs/blanpix.png' width="165" height="150" class="center"></ion-col>
      <ion-col> <img src={{libro.portada}} width="165" height="150" class="center"></ion-col>
      <ion-col>
        <h3> {{libro.titulo}} </h3>
        <h3> {{libro.puntuacion}} </h3>

         <rating [(ngModel)]= "rate"
        readonly="false" 
        size="default" 
        (ngModelChange)="onRateChange($event)">
        </rating> 

        <ion-row>
         
        </ion-row>

        <h3> {{libro.autor}} </h3>
      
      </ion-col>
    </div>

  </ion-col> -->
</ion-card>

</ion-content>
