<ion-header>
  <ion-toolbar>
    <ion-title>media</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Prueba de la cámara
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <ion-button (click)="togglePlayer()">Pausa/play</ion-button>


  </ion-content>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>

      <ion-col size="12" class="ion-text-center">
        <ion-range #range [{ngModel}]="progress" max="100" color="success" (touchend)="seek()" (mouseup)="seek()"></ion-range>
      </ion-col>

      <ion-col size="12" class="ion-text-center">
        <ion-button fill="clear" (click)="togglePlayer(false)" *ngIf="!isPlaying" color="ligth">
          <ion-icon slot="icon-only" name="play"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="togglePlayer(true)" *ngIf="isPlaying" color="ligth">
          <ion-icon slot="icon-only" name="pause"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-toolbar>
</ion-footer>