<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>ClassPipKids</ion-title>
    <div class="titleicon">
      <img src="assets/imgs/toolbar.png" width="40px" style="display:inline-block" height="40px" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">


  <ion-text>
    <h1>¡Tus grupos!</h1>
    <p>Seleciona el grupo que quieras</p>
  </ion-text>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let grupo of listaForView">
        <ion-card (click)="iragrupo(grupo.id)" height='300' width='300'>
          <div>
            <p> {{grupo.name}} </p>
            <img src={{grupo.foto}} height='175' width='175' class="foto">
          </div>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar  class = "toolbar">
  </ion-toolbar>
</ion-footer>