
<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>cuento</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-item>
    <ion-card>
    <h3>Elije un fondo</h3>
    <button ion-button (click)="muestrainte()">Ver personajes</button>
     <button ion-button  class="button button-assertive" (click)="muestraexte()">Ver Animalitos</button>
     <button ion-button (click)="muestramemonst()">Ver monstrous</button>
    <button ion-button (click)="oculta()"> CERRAR</button>
 
    
    
    
    
    <div *ngIf="muestrame">
      <h2>Colocar Personaje</h2>
      <ion-grid>
        <ion-row>

          <ion-col>
            <ion-row *ngFor="let personaje of listapersonajesDerecha">
              <div (click) = "seleccionarfondo(personaje.foto)">
                <img src={{personaje.foto}} width="360" height="360">
              </div>
            </ion-row>
          </ion-col>

          <ion-col>
            <ion-row *ngFor="let personaje of listapersonajesIzquierda">
              <div (click) = "seleccionarfondo(fondo.src)">
                <img src={{personaje.foto}} width="360" height="360">
              </div>

            </ion-row>
          </ion-col>

        </ion-row>

      </ion-grid>


    </div>



   
    <div *ngIf="muestramext">
      <h2>Colocar animales</h2>
      <ion-grid>
        <ion-row>

          <ion-col>
            <ion-row *ngFor="let personaje of listaanimalesDerecha">
              <div (click) = "seleccionarfondo(personaje.foto)">
                <img src={{personaje.foto}} width="360" height="360">
              </div>
            </ion-row>
          </ion-col>

          <ion-col>
            <ion-row *ngFor="let personaje of listaanimalesIzquierda">
              <div (click) = "seleccionarfondo(fondo.src)">
                <img src={{personaje.foto}} width="360" height="360">
              </div>

            </ion-row>
          </ion-col>

        </ion-row>

      </ion-grid>






    </div>






    <div *ngIf="muestramemons">
      <h2>Colocar monstruos</h2>
      <ion-grid>
        <ion-row>

          <ion-col>
            <ion-row *ngFor="let personaje of listamosntruosDerecha">
              <div (click) = "seleccionarfondo(personaje.foto)">
                <img src={{personaje.foto}} width="360" height="360">
              </div>
            </ion-row>
          </ion-col>

          <ion-col>
            <ion-row *ngFor="let personaje of listamosntruosIzquierda">
              <div (click) = "seleccionarfondo(fondo.src)">
                <img src={{personaje.foto}} width="360" height="360">
              </div>

            </ion-row>
          </ion-col>

        </ion-row>

      </ion-grid>
    </div>

  </ion-card>
  </ion-item>

</ion-content>
