.toolbar{
  --background: linear-gradient(90deg, #84c5eb 0%, #723fa1 100%);

}

ion-card{
  background-color: rgb(255, 255, 255);
  text-align: center;
  width: 90% !important;
  margin-left: 20px;
  margin-right: 20px;
}


.titleicon {
  position: absolute;
  width: 100%;
  left: 97%;
  bottom: 0;
  // text-align:center;
}
