ion-toolbar{

    background-color: rgb(186, 235, 250);
    font-family: Andale Mono, monospace  !important;

}

ion-card{
   
  background-color: rgb(255, 255, 255);
  text-align: center;
  width: 90% !important;
  margin-left: 20px;
  margin-right: 20px;


  

 
}


ion-grid{

    
    background-image: url("/assets/imgs/fondoinicio.png");
    background-size: cover;
      --background: rgba(206, 217, 223, 0.644);

 }
