<nav class="nav-wrapper green">

<ion-header>
  <ion-toolbar>
    <ion-title> wesrdtyfughijk </ion-title>
  </ion-toolbar>
</ion-header>


<ion-grid>
  <br>
    <ion-row>
    <ion-col>
    
      <ion-card>
      <div>
        <img src="assets/imgs/miperfil.jpg" height='400' width='400'>
        <h3>MI PERFIL</h3>
      </div>
      
    </ion-card>
    </ion-col>
    <ion-col>
      <ion-card (click)="irainiciolibro()">
      <div>
        <img src="assets/imgs/milibros.jpg" height='400' width='400'>
        <h3 text-center >MIS LIBROS</h3>
      
      </div>
    </ion-card>
    </ion-col>
    <ion-col>
    <ion-card  (click)="iramisjuegos()">
      <div>
        <img src="assets/imgs/librosamigos (1).jpg" height='400' width='400'>
        <br>
        <h3>MIS JUEGOS </h3>
      </div>
    </ion-card>
    </ion-col>
  </ion-row>
  <br>
  <br>
  <br>
  <br>
  <br>
  
</ion-grid>
