
  <ion-header>
    <ion-toolbar class="toolbar">
      <ion-title>ClassPipKids</ion-title>
      <div class="titleicon">
        <img src="assets/imgs/toolbar.png" width="40px" style="display:inline-block" height="40px" />
      </div>
    </ion-toolbar>
  </ion-header>
  


  <ion-content [fullscreen]= "true" class="ion-padding">
    <ion-header-bar custom-subheader class="bar-subheader bar-stable">
      <img src="assets/imgs/banner.jpg"  class = "banner">
    </ion-header-bar>

  <ion-text>
    <h1>¡Bienvenido a ClassPipKids!</h1>
    
    <p>Para empezar, entra en la aplicación</p>
    </ion-text>



  <ion-grid>
      <ion-row>
      <ion-col>
      
        <ion-card>
        <div>
          <form #postForm="ngForm" (ngSumbit)="login(postForm)">
            <div>
              <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input type="text" [(ngModel)]="name" name="name"></ion-input>

              </ion-item>
            </div>

            <div>
              <ion-item>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input type="password" [(ngModel)]="pass" name="pass"></ion-input>

              </ion-item>
            </div>
            <div>
              <ion-button type="submit" expand="full" (click)="login(postForm)" round class="singup">
                Acceder </ion-button>

            </div>

          </form>
        </div>
        
      </ion-card>
      </ion-col>
  
     
    </ion-row>
   
  </ion-grid>

  </ion-content>

  <ion-footer>
    <ion-toolbar  class = "toolbar">
     
    </ion-toolbar>
  </ion-footer>