<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>ClassPipKids</ion-title>
    <div class="titleicon">
      <img src="assets/imgs/toolbar.png" width="40px" style="display:inline-block" height="40px" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
  
</ion-card>
  
  
<ion-card>
  <h5>GANADORES</h5>
  <ion-col size="3" *ngFor="let libro of listatoptres">

    <h3 class="titulosGanadores"> {{libro.titulo}} </h3>
    <h3> {{libro.autor}} </h3>
    <h3 class="titulosGanadores"> {{libro.criteriototal}} </h3>

  </ion-col>
</ion-card>
 
    
    
 
<ion-card>
  <h5>RANKING DE CLASE</h5>
  <ion-col size="3" *ngFor="let libro of muestralista">

    <h3 class="titulosGanadores"> {{libro.titulo}} </h3>
    <h3> {{libro.autor}} </h3>
    <h3 class="titulosGanadores"> {{libro.criteriototal}} </h3>

  </ion-col>
</ion-card>

<!--   
  <ion-col size="3" *ngFor="let libro of listalibros">

    <h3> {{libro.titulo}} </h3>
    <h3> {{libro.autor}} </h3>
    <h3> {{libro.criteriototal}} </h3>

  </ion-col> -->
</ion-content>

<ion-footer>
  <ion-toolbar  class = "toolbar">
    <img  src="assets/imgs/salir.PNG" width="50px"  (click)="salir()">
  </ion-toolbar>
</ion-footer>