<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>JUGOLIBRO NIGGI</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-grid>
    <ion-row>

      <ion-col>
        <ion-card>
          <br>
          <h3>{{NombreJuego}}</h3>
          <h3> Grupo {{grupoId}}</h3>
          <br>
          <h2> {{descripcion}}</h2>
          <ion-grid>
            <br>
          </ion-grid>


        </ion-card>
        <ion-card>
            <h3>TUS PRIVILEGIOS:</h3>
            <br>
            <div *ngIf="nivel1">
               <h3>Has conseguido el nivel 1!</h3>
                Puedes crear hasta 3 escenas.

            </div>

            <div *ngIf="muestracriterio1">
              Consigue el nivel 1:
              <h3> {{criterioprivilegio1}}</h3>
              Y podras desbloquear la creación de 2 escenas mas!

           </div>
            <br>
            <div *ngIf="nivel2">
              <h3>Has conseguido el nivel 2!</h3>
              Puedes desbloquear todas las escenas!
            </div>
            <div *ngIf="muestracriterio2">
              Consigue el nivel 2:
              <h3> {{criterioprivilegio2}}</h3>
              Y podras crear todas la escenas de tu cuento!
            </div>
            <br>
            <div *ngIf="nivel3">
              <h3>Has conseguido el nivel 3!</h3>
              Puedes usar fondos y personajes exclusivos!
            </div>
            <div *ngIf="muestracriterio3">
              Consigue el nivel 3:
              <h3> {{criterioprivilegio3}}</h3>
              Y podras acceder a fondos y personajes exclusivos!
            </div>
            <br>

        </ion-card>

        <ion-card>
    
          <div scrolly="true" style="max-height:300px">
            <h3>Lista de participantes</h3>

            <ion-col *ngFor="let alumno of listaparticipantes">
              <p> {{alumno.Nombre}}   {{alumno.PrimerApellido}}  {{alumno.SegundoApellido}}</p>
            </ion-col>
          </div>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>

          <br>



          <div *ngIf="muestrame">
            <h2> HAY UN CONCUSRO ACTIVO!</h2>
            <p> {{concursoTematica}} </p>
            <p> {{concursoRequisitos}} </p>

            <p> Fecha limite para inscribirse: {{ dateFinInscripcion }} </p>
            <p> Fecha fin de votación: {{dateFinVotacion }} </p>

            <div *ngIf="aunhaytiempo">
            <ion-button expand="block" (click)="inscribirlibro()">Inscribir</ion-button>
            </div>
            <div *ngIf="diafrontera">
            <ion-button expand="block" (click)="iravotaciones()">Votar</ion-button>
          </div>
        </div>
          <div *ngIf="muestraer">
            <h2> Este juego no tiene un concurso!</h2>

          </div>
          <ion-card>

          </ion-card>
          <br>
        </ion-card>


        <ion-card>

          <h3> Ir al taller de cuentos</h3>
          <ion-button expand="block" (click)="iralibro()">Taller de cuentos</ion-button>
        </ion-card>



      </ion-col>

    </ion-row>



  </ion-grid>