<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>ClassPipKids</ion-title>

    <div class="titleicon">
      <img src="assets/imgs/toolbar.png" width="40px" style="display:inline-block" height="40px" />
    </div>

  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">

  <ion-text>
    <h1>{{NombreJuego}}</h1>
    <p>{{descripcion}}</p>
  </ion-text>

  <ion-grid>
    <ion-row>

      <ion-col>

        <ion-card>
          <h2> ¡Hay un concurso!</h2>

          <ion-grid>
            <div *ngIf="muestrame">
              <ion-row>

                <ion-col>

                  <p> {{concursoTematica}} </p>
                  <p> {{concursoRequisitos}} </p>

                  <p> Fecha limite para inscribirse: {{ dateFinInscripcion }} </p>
                  <p> Fecha fin de votación: {{dateFinVotacion }} </p>
                </ion-col>
                <ion-col>

                  <div *ngIf="aunhaytiempo">
                    <ion-button expand="block" (click)="inscribirlibro()">Inscribir</ion-button>
                  </div>
                  <div *ngIf="diafrontera">
                    <!-- <ion-button expand="block" (click)="iravotaciones()" img="/assets/imgs/botonvotar.png">Votar</ion-button> -->
                    <ion-card (click)="iravotaciones()">
                      <div>
                        <img src="assets/imgs/botonVotar.png">
                      </div>
                    </ion-card>

                  </div>
                  <div *ngIf="muestraresul">
                    <ion-card (click)="iraresultados()">
                      <div>
                        <img src="assets/imgs/verResultados.png">

                      </div>
                    </ion-card>

                  </div>




                </ion-col>
              </ion-row>

            </div>



          </ion-grid>


          <div *ngIf="muestraer">
            <h2> Este juego no tiene un concurso!</h2>

          </div>

        </ion-card>



        <ion-card>
          <h3>TUS PRIVILEGIOS:</h3>
          <ion-grid no-padding>
            <ion-row>

              <ion-col text-align: center>
                <ion-row text-align: center>

                  <div *ngIf="nivel1">
                    <h3>Has conseguido el nivel 1!</h3>
                    Puedes crear hasta 3 escenas.

                  </div>
                </ion-row>

                <ion-row>
                  <div *ngIf="nivel1">

                    <img src="assets/imgs/permiso1.jpg">

                  </div>
                </ion-row>
                <div *ngIf="muestracriterio1">
                  Consigue el nivel 1:
                  <h3> {{criterioprivilegio1}}</h3>
                  Y podras desbloquear la creación de 2 escenas mas!

                </div>

              </ion-col>
              <ion-col>

                <ion-row>

                  <div *ngIf="nivel2">
                    <h3>Has conseguido el nivel 2!</h3>
                    Puedes desbloquear todas las escenas!

                  </div>
                </ion-row>

                <ion-row>
                  <div *ngIf="nivel2">
                    <img src="assets/imgs/permiso2.jpg">


                  </div>
                </ion-row>
                <div *ngIf="muestracriterio2">
                  Consigue el nivel 2:
                  <h3> {{criterioprivilegio2}}</h3>
                  Y podras crear todas la escenas de tu cuento!
                </div>
              </ion-col>
              <ion-col>
                <ion-row>
                  <div *ngIf="nivel3">
                    <h3>Has conseguido el nivel 3!</h3>
                    Puedes usar fondos y personajes exclusivos!

                  </div>
                </ion-row>

                <ion-row>
                  <div *ngIf="nivel3">

                    <img src="assets/imgs/permiso3.jpg">

                  </div>
                </ion-row>
                <div *ngIf="muestracriterio3">
                  Consigue el nivel 3:
                  <h3> {{criterioprivilegio3}}</h3>
                  Y podras acceder a fondos y personajes exclusivos!
                </div>
                <br>

              </ion-col>

            </ion-row>

          </ion-grid>


        </ion-card>




      </ion-col>

      <ion-col size="4">


        <ion-card>
          <h3>Taller de cuentos</h3>
          <div *ngIf="!hayLibro">
            <img src="assets/imgs/imagenParaBotonLibros.png">
            <ion-button expand="block" (click)="irACrearLibro()">¡Crea tu libro!</ion-button>
          </div>
          <div *ngIf="hayLibro">
            <img src="assets/imgs/imagenParaBotonLibros.png">
            <div *ngIf="hayLibroFinalizado">
              <p> Tu libro está finalizado, iras al reproductor </p>
            </div>
            <ion-button expand="block" (click)="irALibro()">¡Entra en tu libro!</ion-button>
          </div>
        </ion-card>


        <div *ngIf="!permisoVer">
          <ion-card>

            <div scrolly="true" style="max-height:300px">
              <h3>Lista de participantes</h3>

              <ion-col *ngFor="let alumno of listaparticipantes">
                <p> {{alumno.Nombre}} {{alumno.PrimerApellido}} {{alumno.SegundoApellido}}</p>
              </ion-col>
            </div>
          </ion-card>
        </div>
        <div *ngIf="permisoVer">
          <ion-card>

            <div scrolly="true" style="max-height:300px">
              <h3>Lista de participantes</h3>

              <ion-col *ngFor="let alumno of listaparticipantes">
                <ion-row>
                  <ion-col>
                  <p class="alumnos"> {{alumno.Nombre}} {{alumno.PrimerApellido}} {{alumno.SegundoApellido}}</p>
                </ion-col>
                
                <ion-col>
                  <br>
                  <ion-icon name="eye" (click)="libroAlumnoSeleccionado(alumno)" class= "eyeAlumno"></ion-icon>
                </ion-col>

                </ion-row>
              </ion-col>
            </div>
          </ion-card>
        </div>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar class="toolbar">
    <img  src="assets/imgs/salir.PNG" width="50px"  (click)="salir()">
  </ion-toolbar>
</ion-footer>