<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>ClassPipKids</ion-title>
    <div class="titleicon">
      <img src="assets/imgs/toolbar.png" width="40px" style="display:inline-block" height="40px" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

         <ion-col>
  
          <ion-card>

            <ion-text>
              <h1> ¡Este es el primer paso para crear tu cuento!</h1>
              <p>Ponle un título y una descripción para ir al taller de cuentos</p>
              </ion-text> 

            <form #postForm="ngForm" (ngSumbit)="crearlibro(libroForm)">
              <div>
                <ion-item>
                  <ion-label position="floating">Título</ion-label>
                  <ion-input type="text" [(ngModel)]="titulo" name="titulo"></ion-input>

                </ion-item>
                <br>
                     </div>

              <div>
                <br>
                <textarea [(ngModel)]="textarea" name="textarea" rows="6" cols="10">Escribe aquí tu resumen</textarea>


              </div>
              <div>
                <br>
                <ion-button type="submit" expand="full"  class = "but" (click)="crearlibro(postForm)" round>
                  Crear libro </ion-button>

              </div>

            </form>
          </ion-card>
        
    
      </ion-col>
   
 

</ion-card>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <ion-header-bar custom-subheader class="bar-subheader bar-stable">
    <img src="assets/imgs/banner.jpg"  class = "banner">
  </ion-header-bar>
 
</ion-content>

<ion-footer>
  <ion-toolbar  class = "toolbar">
   
  </ion-toolbar>
</ion-footer>