ion-card{
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 40px;
    margin-left: 0px;
}

ion-item{
    --background: rgb(253, 253, 253);
    font-weight: bold;
}

ion-content{

    
   background-image: url("/assets/imgs/curntame.png");
    background-size: cover;
    --background: rgba(255, 255, 255, 0.5);

}
img {
    width:400px;
    height:400px;
 }