 ion-card{
     width: 100%;
     background-color: rgb(255, 255, 255);
   text-align: center;
     padding: 40px;
     margin-left: 10px;
    margin-right: 20px;
 }

 ion-button{

  color: rgb(0, 0, 0);
  background-color: rgb(240, 100, 100);


 }

 ion-item{
    --background: rgb(253, 253, 253);
     font-weight: bold;
}

ion-content{

    
    background-image: url("/assets/imgs/lila.jpg");
    background-size: cover;
      --background: rgba(200, 238, 255, 0.726);

 }
 img {
    width:400px;
     height:400px;
 }